@model MOBYNew.Models.Contact

@{
    ViewBag.Title = "Contact Detail View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Detail</h2>

<p>
    @Html.ActionLink("Update Contact", "UpdateContactGet", new { id = Model.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Model.FirstName @Model.LastName
        </th>
    </tr>
</table>
<ul>
    <li>
        Contact Type: @Model.ContactTypeId
    </li>
    @if (Model.DOB.HasValue)
            {
                var age = DateTime.UtcNow.Year - Model.DOB.Value.Year;

        <li>Age: @Html.DisplayTextFor(model => age)</li>
    }

</ul>
