@model IEnumerable<MOBYNew.Models.Contact>

@{
    ViewBag.Title= "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Add New Contact", "AddContact")

@if (Model.Any()==false)
{
    <p>No contacts yet.</p>
}

else
{
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Contact Name</th>
                <th>Contact Type</th>
                <th>Contact Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@Html.ActionLink(contact.FirstName + " " + contact.LastName, "ContactDetail", "Contact", new { id = contact.Id }, null)</td>
                    <td>@contact.ContactType.contactType</td>
                    <td>@contact.ContactType.ContactStatus</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = contact.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = contact.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = contact.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}