@model IEnumerable<MOBYNew.Models.Contact>
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (!Model.Any())
{
    <p>No contacts yet.</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead><tr><th>This Header</th></tr></thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr>
                    <td>@Html.ActionLink(contact.Name, "Details", "Contacts", new { id = contact.Id }, null)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = contact.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = contact.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = contact.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}