@model IEnumerable<MOBYNew.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="contacts" class="table table-bordered table-hover">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTypeName)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.JoinDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsSubscribedToNewsletter)
                    </th>
                    <th>
                        <text>MVC Edit</text>
                    </th>
                    <th>*@
                <text>API Edit</text>
            </th>
        </tr>
    </thead>
    @*<tbody>

            @foreach (var contact in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => contact.ContactType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => contact.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => contact.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => contact.JoinDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => contact.DOB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => contact.IsSubscribedToNewsletter)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = contact.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = contact.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = contact.Id })
                        </td>
                        <td>
                            <button data-contact-id="@contact.Id" class="btn-link js-delete">ApiDelete</button>
                        </td>
                    </tr>
                }
        </tbody>*@

</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#contacts").DataTable({
                ajax: {
                    url: "/api/contacts",
                    dataSrc: ""
                },
                columns: [
                    {
                        //Parameter *MUST* be camel case!! Note!!
                        data: "fullName",
                        render: function (data, type, contact) {
                            return "<a href='/contact/edit/" + contact.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "contactTypeName.contactTypeName"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-contact-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#contacts").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this contact?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/contacts/" + button.attr("data-contact-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw
                            }
                        });
                    }
                    //if (confirm("Are you sure you want to delete this Contact?")) {
                    //    $.ajax({
                    //        url: "/api/contacts/" + button.attr("data-contact-id"),
                    //        method: "DELETE",
                    //        success: function () {
                    //            button.parents("tr").remove();
                    //        }
                    //    })
                    //}
                })
            });
        })
    </script>
}